# ATC coding rules - https://github.com/atc-net/atc-coding-rules
# Version: 1.0.1
# Updated: 20-04-2026
# Location: test
# Distribution: DotNet10
# Inspired by: https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/code-style-rule-options

##########################################
# Code Analyzers Rules
##########################################
[*.{cs,csx,cake}]

# AsyncFixer
# http://www.asyncfixer.com


# Meziantou
# https://www.meziantou.net/enforcing-asynchronous-code-good-practices-using-a-roslyn-analyzer.htm
dotnet_diagnostic.MA0004.severity = none            # Use Task.ConfigureAwait(false)
dotnet_diagnostic.MA0016.severity = none            # Prefer return collection abstraction over implementation
dotnet_diagnostic.MA0051.severity = none            # Method Length


# Microsoft - Code Analysis
# https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/
dotnet_diagnostic.CA1068.severity = none            # CancellationToken parameters must come last
dotnet_diagnostic.CA1602.severity = none
dotnet_diagnostic.CA1707.severity = none            # Identifiers should not contain underscores
dotnet_diagnostic.CA2007.severity = none            # Do not directly await a Task
dotnet_diagnostic.CA2025.severity = none            # Ensure tasks using 'IDisposable' instances complete before the instances are disposed


# Microsoft - Compiler Errors
# https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-messages/


# StyleCop
# https://github.com/DotNetAnalyzers/StyleCopAnalyzers
dotnet_diagnostic.SA1122.severity = none            # Use string.Empty for empty strings
dotnet_diagnostic.SA1133.severity = none            # Do not combine attributes


# SonarAnalyzer.CSharp
# https://rules.sonarsource.com/csharp


##########################################
# Custom - Code Analyzers Rules
##########################################
dotnet_diagnostic.CA1062.severity = none

dotnet_diagnostic.S2925.severity = none             # Do not use 'Thread.Sleep()' in a test.