# ATC coding rules - https://github.com/atc-net/atc-coding-rules
# Version: 1.0.2
# Updated: 19-04-2026
# Location: blazor
# Distribution: Frameworks

##########################################
# Code Analyzers Rules
##########################################
[*.{cs}]

dotnet_diagnostic.ASP0006.severity = suggestion     # Do not use non-literal sequence numbers - https://learn.microsoft.com/en-us/aspnet/core/diagnostics/asp0006?view=aspnetcore-8.0

dotnet_diagnostic.BL0001.severity = error           # Component parameter should have public setters - https://learn.microsoft.com/en-us/aspnet/core/diagnostics/bl0001?view=aspnetcore-8.0
dotnet_diagnostic.BL0002.severity = error           # Component has multiple CaptureUnmatchedValues parameters - https://learn.microsoft.com/en-us/aspnet/core/diagnostics/bl0002?view=aspnetcore-8.0
dotnet_diagnostic.BL0003.severity = error           # Component parameter with CaptureUnmatchedValues has the wrong type - https://learn.microsoft.com/en-us/aspnet/core/diagnostics/bl0003?view=aspnetcore-8.0
dotnet_diagnostic.BL0004.severity = error           # Component parameter should be public - https://learn.microsoft.com/en-us/aspnet/core/diagnostics/bl0004?view=aspnetcore-8.0
dotnet_diagnostic.BL0005.severity = error           # Component parameter should not be set outside of its component - https://learn.microsoft.com/en-us/aspnet/core/diagnostics/bl0005?view=aspnetcore-8.0
dotnet_diagnostic.BL0006.severity = warning         # Do not use RenderTree types - https://learn.microsoft.com/en-us/aspnet/core/diagnostics/bl0006?view=aspnetcore-8.0
dotnet_diagnostic.BL0007.severity = warning         # Component parameter should be auto property - https://learn.microsoft.com/en-us/aspnet/core/diagnostics/bl0007?view=aspnetcore-10.0
dotnet_diagnostic.BL0008.severity = warning         # Component parameters should be auto properties ([SupplyParameterFromForm] with non-default initializer) - https://learn.microsoft.com/en-us/aspnet/core/diagnostics/bl0008?view=aspnetcore-10.0
dotnet_diagnostic.BL0009.severity = warning         # Property initializer can be overwritten for [PersistentState] properties - https://github.com/dotnet/aspnetcore/pull/63236
dotnet_diagnostic.BL0010.severity = warning         # Use InvokeVoidAsync for JavaScript functions that don't return a value - https://learn.microsoft.com/en-us/aspnet/core/diagnostics/bl0010?view=aspnetcore-11.0

dotnet_diagnostic.MA0048.severity = none            # To support code-behind [component].razor.cs files / Inherit from ComponentBase - File will not match type name.


##########################################
# Custom - Code Analyzers Rules
##########################################