name: "Pre-Integration"

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

jobs:
  dotnetcore31-build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '3.1.x'

      - name: Clean
        run: dotnet clean -c Release && dotnet nuget locals all --clear

      - name: Restore packages
        run: dotnet restore

      - name: Building library in release mode
        run: dotnet build -c Release -p:ContinuousIntegrationBuild=true --no-restore

  dotnet5-build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '5.0.x'

      - name: Clean
        run: dotnet clean -c Release && dotnet nuget locals all --clear

      - name: Restore packages
        run: dotnet restore

      - name: Building library in release mode
        run: dotnet build -c Release -p:ContinuousIntegrationBuild=true --no-restore

  dotnet-test:
    runs-on: ubuntu-latest
    needs:
      - dotnetcore31-build
      - dotnet5-build
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '3.1.x'

      - uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '5.0.x'

      - name: Prepare build for unit tests
        run: |
          dotnet clean -c Debug
          dotnet restore
          dotnet build -c Debug /p:UseSourceLink=true --no-restore

      - name: Run unit tests
        run: dotnet test -c Debug --no-build
