name: "Release"

on:
  workflow_dispatch:

jobs:
  release:
    if: github.ref == 'refs/heads/stable'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          token: ${{ secrets.PAT_WORKFLOWS }}

      - uses: nelonoel/branch-name@v1.0.1

      - uses: dotnet/nbgv@master
        with:
          setAllVars: true

      - uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '5.0.x'

      - name: Restore packages
        run: dotnet restore

      - name: Build
        run: dotnet build -c Release /p:UseSourceLink=true --no-restore

      - name: Merge to release
        run: |
          git config --local user.email "atcnet.org@gmail.com"
          git config --local user.name "Atc-Net"
          git checkout release
          git merge --ff-only stable
          git push origin release

      - name: Creating library package for release
        run: dotnet pack -c Release --no-restore -o ${GITHUB_WORKSPACE}/packages -p:RepositoryBranch=$BRANCH_NAME -p:ContinuousIntegrationBuild=true /p:PublicRelease=true

      - name: Push packages to NuGet
        run: dotnet nuget push ${GITHUB_WORKSPACE}/packages/'atc-coding-rules-updater.'${NBGV_NuGetPackageVersion}'.nupkg' -k ${{ secrets.NUGET_KEY }} -s https://api.nuget.org/v3/index.json --skip-duplicate
